model_config_list {
    config {
        name: 'peeling'
        base_path: '/cohaus/models/peeling/'
        model_platform: 'tensorflow'
    }
    config {
        name: 'exposed'
        base_path: '/cohaus/models/exposed/'
        model_platform: 'tensorflow'
    }
    config {
        name: 'crack'
        base_path: '/cohaus/models/crack/'
        model_platform: 'tensorflow'
    }
}