model_config_list {
    config {
        name: 'peeling'
        base_path: '/cohaus/models/peeling/1'
        model_platform: 'tensorflow'
    }
    config {
        name: 'exposed'
        base_path: '/cohaus/models/exposed/1'
        model_platform: 'tensorflow'
    }
    config {
        name: 'crack'
        base_path: '/cohaus/models/crack/1'
        model_platform: 'tensorflow'
    }
}
