model_config_list {
    config {
        name: 'peeling'
        base_path: '/models/cohaus/peeling/'
        model_platform: 'tensorflow'
    }
    config {
        name: 'exposed'
        base_path: '/models/cohaus/exposed/'
        model_platform: 'tensorflow'
    }
    config {
        name: 'crack'
        base_path: '/models/cohaus/crack/'
        model_platform: 'tensorflow'
    }
}
